body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    background-color: #007bff;
}

.chat-container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

.chat-box {
    max-height: 300px;
    overflow-y: auto;
    text-align: left;
    margin-bottom: 10px;
}

.chat-message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.bot {
    background-color: #90f0c5;
    text-align: left;
}

.user {
    background-color: #a6c4f1;
    text-align: right;
}

input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 14px;
}
